*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-dark-blue: #2e323f;
	--clr-medium-blue: #3b4050;
	--clr-light-gray: #6f737f;
	--clr-supper-light-gray: #ececec;
	--clr-white: #fff;
	--clr-light-brown: #a59678;
	--ff-oswald: "Oswald";
	--ff-montserrat: "Montserrat";
	--fs: 20px;
	--lh: 1.5;
	font-size: var(--fs);
}

body {
	font-family: var(--ff-montserrat);
	line-height: var(--lh);
}

section,
footer {
	padding: 3rem 1rem;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	font-family: var(--ff-oswald);
}

h2,
p {
	margin-bottom: 1em;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.primary-btn {
	padding: 0.25em 1em;
	background-color: var(--clr-light-brown);
	font-family: var(--ff-oswald);
	color: var(--clr-white);
	text-transform: uppercase;
	border-radius: 10em;
}

.hamberger {
	display: flex;
	flex-direction: column;
	height: 25px;
	width: 30px;
	justify-content: space-between;
	z-index: 1000;
	cursor: pointer;
}

.hamberger span {
	display: block;
	width: 100%;
	height: 5px;
	background-color: var(--clr-supper-light-gray);
	transform-origin: left;
	transition: all .2s ease-in;
}

.open span:nth-child(1) {
	transform: rotate(43deg);
}

.open span:nth-child(3) {
	transform: rotate(-43deg);
}

.open span:nth-child(2) {
	opacity: 0;
	transform: scaleX(0);
}
/* header */
.header {
	background-color: var(--clr-dark-blue);
	padding: 1em;
	position: sticky;
	top: 0;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--ff-oswald);
	font-size: .9rem;
}

.logo {
	display: flex;
	align-items: center;
}

.nav-list {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--clr-dark-blue);
	transform: translateX(100%);
	transform-origin: top right;
	transition: all .2s ease-in;
}
.nav-list--visible {
	transform: translateX(0);
}
/* 
.nav-item + .nav-item {
	margin-left: 2em;
} */

.nav-link {
	color: var(--clr-white);
	text-transform: uppercase;
}
/* intro section */
.intro {
	background-color: var(--clr-medium-blue);
	color: var(--clr-white);
	font-size: 1.2rem;
}

.intro__title {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 3rem;
}

.intro__title--high-light {
	color: var(--clr-light-brown);
}
/* categogies section */
.categories {
	background-color: var(--clr-supper-light-gray);
}

.section-card {
	text-align: center;
	padding: 1em;
	color: var(--clr-medium-blue);
}

.section-card h2 {
	font-size: 1.5rem;
	color: var(--clr-light-brown);
}
.section-card p {
	font-size: 0.9rem;
}
/* main */
.primary-content {
	color: var(--clr-medium-blue);
	padding-bottom: 0;
}

.primary-content__title {
	font-size: 1.8rem;
	color: var(--clr-light-brown);
}

.primary-content p {
	font-size: 1.05rem;
}

.section-card--dark {
	color: var(--clr-white);
	background-color: var(--clr-medium-blue);
}

.section-card--dark + .section-card--dark {
	margin: 2em 0 0 0;
}

.section-card--dark h2 {
	color: var(--clr-white);
}
/* footer */

.footer {
	background-color: var(--clr-dark-blue);
	color: var(--clr-white);
	font-size: 0.8rem;
}

.footer__quote {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 2rem;
}

.footer__title {
	color: var(--clr-light-brown);
	font-size: 1.05rem;
}

.footer__item {
	margin: .5rem 0;
}

.footer__link {
	color: var(--clr-white);
}

/* medium screen */
@media (min-width: 700px) {
	.row {
		display: flex;
		justify-content: space-between;
	}
	.col {
		width: 32%;
	}
	.footer .col {
		width: 23%;
	}
	.col.section-card--dark {
		margin: 0;
	}
	.intro__title {
		font-size: 3rem;
	}
}

@media (min-width: 1000px) {
	.intro .container,
	.main .container {
		display: flex;
		justify-content: space-between;
	}

	.intro .container {
		align-items: center;
	}

	.intro__title {
		text-align: left;
		font-size: 3.5rem;
		margin-bottom: 0;
		width: 54%;
	}

	.intro__des {
		width: 42%;
	}

	.main .primary-content {
		width: 60%;
	}

	.main .sidebar {
		width: 35%;
	}

	.sidebar.row {
		display: block;
	}

	.sidebar .col {
		width: 100%;
	}

	.sidebar .section-card--dark {
		margin-top: 1rem;
	}

	/* nav handle */

	.hamberger {
		display: none;
	}

	.nav-list {
		flex-direction: row;
		position: static;
		transform: translate(0);
		width: initial;
		height: initial;
	}

	.nav-item + .nav-item {
		margin-left: 2em;
	}
}
